.hotel {
  width: 300px;
  height: 400px;
  background-image: url("hotel.jpg");
  background-size: cover;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 20px;
}

.name {
  color: white;
  font-size: 14px;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}
